<h1>Página de cadastro de produtos</h1>
<hr>

<form action="" method="POST">
    <input type="text" name="name" id="name" placeholder="Nome">
    <input type="text" name="description" id="description" placeholder="Descirção ">
    <button>Cadastrar</button>
</form>